In [1]:
#!/bin/python3

import math
import os
import random
import re
import sys



if __name__ == '__main__':
    n = int(input().strip())
if n%2!=0:
    print("Weird")
elif n%2==0 and n in range(2,6):
    print("Not Weird")
elif n%2==0 and n in range(6,21):
    print("Weird")
elif n%2==0 and n>20:
    print("Not Weird")
else:
    pass

4
Not Weird

In [2]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    res1 = a+b
    res2 = a-b
    res3 = a*b
print(res1)
print(res2)
print(res3)

2
3
5
-1
6

In [4]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    res1 = int(a/b)
    res2 = a/b
print(res1)
print(res2)

2
3
0
0.6666666666666666

In [27]:
def Square():
    n = int(input())
    for x in range(0,n+1):
        print(x**2)

In [28]:
Square()

5
0
1
4
9
16
25

In [47]:
def is_leap(year):
    return year % 4 == 0 and (year % 400 == 0 or year % 100 != 0)

year = int(input())
print(is_leap(year))

1992
True

In [1]:
def func():
    n = int(input())
    for x in range(1,n+1): 
        print(x,end="") # use end="" in the print statement to print the loop in one line

In [2]:
func()

10
12345678910

In [ ]:
import re
my_string = input()

In [1]:

my_list = [[x,y] for x in [1,2] for y in [3,4]]
print(my_list)

[[1, 3], [1, 4], [2, 3], [2, 4]]

In [4]:
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
#list comprehension used to print permutations of 3D coordinates
print([[p,q,r] for p in range(0,x+1) for q in range(0,y+1) for r in range(0,z+1) if x + y + z != n])

2
2
2
3
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [0, 1, 2], [0, 2, 0], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 1], [1, 0, 2], [1, 1, 0], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2], [2, 0, 0], [2, 0, 1], [2, 0, 2], [2, 1, 0], [2, 1, 1], [2, 1, 2], [2, 2, 0], [2, 2, 1], [2, 2, 2]]

In [ ]:
if __name__ == '__main__':
    n = int(input())
    arr = map(int,input())
    new_arr = list(arr)
    max_arr = max(new_arr)
    while max_arr == max(new_arr):
        print(new_arr.index(max(new_arr)))

In [6]:
new_arr

[2, 5, 4]

In [7]:
max(new_arr)

5

Given the names and grades for each student in a class of N students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

In [1]:
if __name__ == '__main__':
    
    student_list = []
    scores = set()
    second_lowest_names = []


    for _ in range(int(input())):
        name = input()
        score = float(input())
        student_list.append([name,score])
        scores.add(score)
            
    second_lowest = sorted(scores)[1]
    
    for name,score in student_list:
        if score == second_lowest:
            second_lowest_names.append(name)
            
    for names in sorted(second_lowest_names):
        print(names,end='\n')

5
harsh
20
beria
20
varun
19
kaku
19
vikas
21
beria
harsh

In [64]:
sorted(scores)

[19.0, 20.0, 21.0]

 The provided code stub will read in a dictionary containing key/value pairs of name:[marks] for a list of students. Print the average of the marks array for the student name provided, showing 2 places after the decimal.

In [1]:
if __name__ == '__main__':
    
    n = int(input())
    student_marks = {}
    
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    
    query_name = input()

2
aaquib 23.99 44.66 33.45
moni 55.66 78.89 99.80

In [2]:
student_marks

{'aaquib': [23.99, 44.66, 33.45], 'moni': [55.66, 78.89, 99.8]}

In [6]:
names_list = []
for x in student_marks.keys():
    names_list.append(x)

In [7]:
names_list

['aaquib', 'moni']

In [31]:
query_name = input()
for name_test in names_list:
    if query_name  ==  name_test:
        
    else:
        pass

a

In [16]:
marks_list = []
for y in student_marks.values():
    marks_list.append(y)

In [35]:
marks_list

[[23.99, 44.66, 33.45], [55.66, 78.89, 99.8]]

In [36]:
marks_list[0]

[23.99, 44.66, 33.45]

In [37]:
x = 0
for i in marks_list: 
    for i in marks_list.index(i):
        x+=i

TypeError: 'int' object is not iterable

In [25]:
x

102.1

In [27]:
x/len(marks_list[0])

34.03333333333333

In [38]:
scores

[55.66, 78.89, 99.8]